*{
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-wrap:wrap;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
  max-height: 41vw;
  overflow:scroll;
  scrollbar-width: none;
  position: absolute;
  top: 60px;
}
.cards{
  border-radius: 10px;
  border: 2px solid black;
  width: 30vw;
  min-height: 160px;
  padding: 10px;
}